[submodule "src/vehicle_control_package"]
	path = src/vehicle_control_package
	url = git@github.com:zin-lin/vehicle_control_package.git
	branch = master
[submodule "src/annex_msgs"]
	path = src/annex_msgs
	url = git@github.com:zin-lin/annex_msgs.git
	branch = master
[submodule "src/path_planner_package"]
	path = src/path_planner_package
	branch = master
	url = git@github.com:zin-lin/path_planner_package.git
[submodule "src/control_package"]
	path = src/control_package
	url = git@github.com:zin-lin/control_package.git
	branch = master
